services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: little-branch-site
    stdin_open: true
    tty: true
    volumes:
      - ./public:/app/public
    restart: unless-stopped
    networks:
      - shared

networks:
  shared:
    external: true
